.reviews {
  display: flex;

  &-title {
    display: flex;
    margin-bottom: 34px;
    align-items: center;
    
    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      align-items: center;
      margin-left: 15px;
      font-size: 32px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-items {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}
