.cart-product {
  display: flex;
  max-width: 730px;
  border-radius: 10px;
  background: #1b1919;

  &-background {
    user-select: none;
    position: relative;
    border-radius: 12px;
    background: linear-gradient(
      17.36deg,
      #070606 36.96%,
      rgba(19, 18, 18, 0) 84.63%
    );
    content: '';
    transition: all 0.5s;
    max-width: 212px;

    img {
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
      height: 100%;
    }
  }

  .info-header {
    margin-bottom: 11px;
  }

  &-background::after {
    position: absolute;
    border-radius: 12px;
    left: 0;
    z-index: 0;
    width: 100%;
    background: linear-gradient(
      17.36deg,
      #070606 36.96%,
      rgba(19, 18, 18, 0) 84.63%
    );
    content: '';
    height: 100%;
    transition: all 0.5s;
  }

  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 10px 24px 33px;

    .info-title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 127.2%;
      letter-spacing: -0.025em;
      color: #5a5a5a;
    }
  }

  &-delete {
    display: flex;
    background: #f1433a46;
    box-sizing: border-box;
    border-radius: 12px;
    align-items: center;
    border: none;
    max-width: 39px;
    max-height: 39px;
    padding: 12px;
    transition: all 0.5s;

    .delete-icon {
      z-index: 2;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      path {
        fill: #f1433a;
      }
    }
  }
  &-delete:hover {
    background: rgba(247, 65, 55, 0.491);
    cursor: pointer;

    .delete-icon {
      z-index: 2;
    }
    path {
      fill: #ff362b;
    }
  }

  .info-product-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .options-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 127.2%;
    letter-spacing: -0.025em;
    color: #5a5a5a;
    margin-bottom: 12px;
  }

  .options-box {
    display: flex;
    align-items: center;
    max-width: 246px;
    border-radius: 8px;
    padding: 8px 27px;
    background: linear-gradient(90deg, #e5453d -14.78%, #ff7a2e 451.57%);
    box-sizing: border-box;
    .option-name {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 14px;
      line-height: 127.2%;
      letter-spacing: -0.025em;
      color: #ffffff;
    }
    .option-price {
      margin-left: 56px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 135.7%;
      text-align: right;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.cart-product:not(:last-child) {
  margin-bottom: 15px;
}
